@model IEnumerable<BookWorm.Models.Books>

@{
    ViewBag.Title = "Book List";
    ViewBag.PageTitle = "Book List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("New Book", "NewBook", "Books", null, new { @class = "btn btn-primary" })</p>

<table class="table table-bordered table-hover">
    @Html.Partial("BookTableHeader", Model.FirstOrDefault())
    @Html.Partial("BookTableRows")
</table>