@model IEnumerable<BookWorm.Models.Books>

@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>@Html.ActionLink("New Book", "NewBook", "Books", null, new { @class = "btn btn-primary" })</p>

<table class="table table-bordered table-hover">
    @Html.Partial("BookTableHeader", Model.FirstOrDefault())
    @Html.Partial("BookTableRows")
</table>